<%= image_tag 'logo.png' %>
<%= image_tag 'https://img.cpcdn.com/recipes/653266/280/76d2a3811e0fc161130dc23dc854c4f7.jpg' %>

<p>きのこ豚丼</p>
<p>材料：豚こまぎれ肉，好きなきのこ</p>
<p>調味料：砂糖，酒，醤油，みりん</p>

<%= link_to image_tag('go_cookpad.png'), 'http://cookpad.com/recipe/653266' %>
